table
{
    border-collapse: collapse; /* Les bordures du tableau seront collées (plus joli) */
}

td , th /* Toutes les cellules des tableaux... */
{
    border: 1px dashed black; /* auront une bordure de 1px */
}

th
{
	color: green;
	font-family: serif ; 
	font-style: italic ; 
	font-size: 2em ;

}

caption
{
	caption-side: bottom ;  
}